html,
body {
  margin: 0;
  padding: 0;
  min-width: 1000px;
  font-family: Arial;
  background-color: #f9f9f9;
}

.fixed-container {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

.top-bar {
  background-color: #00122f;
  color: white;
  padding: 20px 0;
  font-size: 16px;
}

.top-bar a {
  text-decoration: none;
  color: white;
}

.datetime {
  float: right;
}

.header {
  height: 100px;
  background-color: white;
  /* border: 1px solid black; */
}

.header-bottom {
  height: 80px;
  display: table-cell;
  vertical-align: middle;
  width: 960px;
  /* border: 1px solid black; */
}

.logo {
  margin-top: 25px;
  float: left;
}

.city {
  float: left;
  margin-top: 25px;
  margin-left: 50px;
  color: #448ccb;
}

.city-text {
  display: inline-block;
}

.city-text p {
  border-bottom: 2px dotted;
}

.city-arrow {
  display: inline-block;
}

.search {
  float: right;
}

.weather {
  float: right;
  margin-right: 40px;
}

#menu {
  height: 70px;
  background-color: white;
  /* border: 1px solid black; */
}

#menu ul {
  font-size: 0;
  padding: 18px 0;
  list-style: none;
}

#menu li {
  font-size: 16px;
  display: inline;
}

#menu li+li:before {
  padding: 0 15px;
  content: "/";
  color: #91919f;
}

#menu li a:link,
a:visited {
  color: black;
  text-decoration: none;
}

#menu li a:hover {
  color: #91919f;
}

#central-container {
  padding-top: 20px;
  background-color: #f9f9f9;
  background-image: url('img/central-bg-top.png');
  background-repeat: repeat-x;
}

#central-container .fixed-container {
  overflow-y: hidden;
}

#column-left {
  background-color: white;
  width: 250px;
  float: left;
}

.news-item {
  padding-left: 18px;
  margin-bottom: 30px;
  font-size: 14px;
}

#news-item-text {
  margin-bottom: 20px;
}

#news-item-props {
  font-size: 12px;
  position: relative;
}

#news-item-props a {
  color: #91919f;
  text-decoration: none;
}

#all-white {
  color: white;
}

.news-time {
  position: absolute;
  top: 0;
  left: 120px;
  padding-left: 15px;
  background-image: url('img/icon-time.png');
  background-repeat: no-repeat;
}

.news-comments-count {
  position: absolute;
  top: 0;
  left: 180px;
  padding-left: 15px;
  background-image: url('img/icon-comments.png');
  background-repeat: no-repeat;
}

.all-new a {
  text-decoration: none;
}

.all-new p {
  color: #448ccb;
  border: 1px solid #448ccb;
  border-radius: 50px;
  width: 177px;
  text-align: center;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

#column-left h2 {
  font-size: 20px;
  padding: 27px 0 27px 18px;
  margin: 0 0 34px;
  border-bottom: 1px solid #e5e5e5;
}

#column-center {
  background-color: white;
  width: 420px;
  float: left;
  margin-left: 20px;
}

.center-top {
  background-image: url('img/Layer1.jpg');
  background-size: cover;
  padding-left: 15px;
}

.center-top p {
  font-size: 12px;
  color: white;
  padding-top: 100px;
  margin: 0;
}

.center-top h1 {
  font-size: 30px;
  font-weight: 700;
  color: white;
}

.center-top-bot {
  padding-bottom: 55px;
}

.center-mid {
  margin-top: 20px;
  height: 262px;
}

.center-mid p {
  font-size: 15px;
  font-weight: 700;
}

.center-mid-left {
  float: left;
  width: 200px;
}

.center-mid-left img {
  width: 200px;
}

.center-mid-right {
  float: left;
  width: 200px;
  margin-left: 15px;
}

.center-mid-right img {
  width: 200px;
}

.center-mid-bot {
  padding-bottom: 40px;
}

.center-mid-news-time {
  position: absolute;
  top: 0;
  left: 100px;
  padding-left: 15px;
  background-image: url(img/icon-time.png);
  background-repeat: no-repeat;
}

.center-mid-comments-count {
  position: absolute;
  top: 0;
  left: 160px;
  padding-left: 15px;
  background-image: url(img/icon-comments2.png);
  background-repeat: no-repeat;
}

.center-mid-right {
  float: left;
  width: 200px;
  margin-left: 20px;
}



.column-right {
  width: 250px;
  float: right;
}

.column-right img {
  margin-bottom: 20px;
}

.row-column {
  height: 410px;
  margin-bottom: 20px;
}

.row-column-left {
  background-image: url(img/car.jpg);
  background-size: cover;
  width: 60%;
  float: left;
  height: 410px;
}

.row-column-left-footer {
  padding-left: 20px;
  padding-right: 10px;
  color: white;
}

.row-column-left-footer p {
  padding-top: 100px;
}

.row-column-left-footer small {
  font-size: 14px;
  padding-bottom: 50px;
  opacity: 0.7;
}

.row-column-right {
  width: 40%;
  float: left;
  background: white;
  height: 410px;
}

#footer-t {
  background-color: #00122f;
  color: #fff;
  height: 250px;
}

#footer a {
  text-decoration: none;
  color: #fff;
}

#footer-main {
  width: 960px;
  margin: 0 auto;
  padding-top: 40px;
  position: relative;
}